body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}
.weather-demo-wrapper {
    margin: 30px auto;
    max-width: 700px;
}
.weather-demo {
    padding: 20px;
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: 4px;
background: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
    
    
}

.search-form {
    padding: 25px 5px;
    
    
    
}

input {
    outline: none;
    font-size: 15px;
    width: 80px;
}

.pin {
    width: 200px;
}

h1 .data {
    position: relative;
    left: -35px;
    display: block;
    text-align: left;
    color: rgb(40, 38, 38);
    font-size: 20px;
    list-style: none;
    line-height: 28px;
    text-transform: capitalize;
   
}
 
h2 {
text-align: center;

}


    
    

  .temperature  {
   position: relative;
   top:-150px;
   left:15px;
   padding: 20px 10px;
   color: rgb(35, 33, 33);
   font-size: 40px;
  transition: all 150ms ease-in-out;
}

 .units {
    position: relative;
    top:-240px;
    right: -70px;

 }



.temp {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h3 .types {
    display: block;
    position: relative;
    top: -40px;
    text-align: right;
    color: rgb(40, 38, 38);
    list-style: none;
    font-size: 16px;
}

span {
    color: rgb(40, 38, 38);
}



 .units .active {
    color: rgb(42, 40, 40);
    cursor: default;
    text-decoration: none;
}

.units .active:hover {
    
    text-decoration: none;
    
}
footer{
    text-align: center;
    font-size: 14px;
    
}

a {
    text-decoration: none;
    color: rgb(41, 39, 39);
}

a:hover {
 color: rgb(68, 68, 186);
}


