body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.weather-demo-wrapper {
    margin: 30px auto;
    max-width: 600px;
}
.weather-demo {
    padding: 20px;
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2); 
    background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
    
}

.search-icon {
    padding: 25px 5px;
    
}

input {
    outline: none;
    font-size: 15px;
}

.pin {
    width: 250px;
}

h1 .data {
    position: relative;
    left: -35px;
    display: block;
    text-align: left;
    color: #534f4f;
    font-size: 20px;
    list-style: none;
    line-height: 28px;
   
}

h2 {
    display: block;
    text-align: center;
    color: #ffa726;
    
}

.temperature {
    position: absolute;
    top: 180px;
    padding: 20px 10px;
    color: #474f62;
    font-size: 30px;
    transition: all 150ms ease-in-out;
}

.temp {
    text-decoration: none;
    color: #534f4f;
}

h3 .types {
    display: block;
    text-align: right;
    color: #6c7384;
    list-style: none;
    font-size: 16px;
}

span {
    color: #0d0d0d;
}

.week-day {
    position: relative;
    top: -50px;
    text-align: center;
    color: #29334b;
    font-weight: 600;
    padding-top: 20px;
}






