body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: radial-gradient(600px at 48.2% 50%, rgba(153, 153, 151, 0.6) 0%, rgb(160, 199, 254) 74.6%);
    
}
.weather-demo-wrapper {
    margin: 30px auto;
    max-width: 650px;
    
}
.weather-demo {
    padding: 10px 15px;
    font-weight: 500;
    border:1px solid rgba(200, 241, 241, 0.3);
    border-radius:30px;
    box-shadow: 8px 4px 5px 10px rgba(0, 0, 0, 0.3);
    
    

    
    
}
.mb-4 {
    display: flex;
    justify-content: center;
    border: 0.5px solid rgb(124, 97, 124) ;
    border-radius: 50px;
    padding: 2px;
    width: 330px;
    background: rgb(255, 252, 252);
    
    
   }

.button-location {
    border: 0.5px;
    border-radius: 50px;
    padding: 6px;
    background-color: rgb(236, 228, 228);
}

.button-search {
    border: 0.5px;
    border-radius: 50px;
    padding:8px;
    background-color: rgb(236, 228, 228);
    }


input {
    outline: none;
    font-size: 15px;
    width: 80px;
}

.pin {
    width: 250px;
    border: 0.5px;
    border-radius: 50px;
    font-size:14px;
    }
    
    


h1 .data {
    position: relative;
    left: -35px;
    display: block;
    text-align: left;
    color: rgb(27, 26, 26);
    font-size: 20px;
    list-style: none;
    line-height: 28px;
    text-transform: capitalize;
   
}
 
h2 {
    position: relative;
    bottom: -50px;
text-align: center;

}


    
    

  .temperature  {
   position: relative;
   top:-150px;
   left:15px;
   padding: 20px 10px;
   color: rgb(27, 26, 26);
   font-size: 40px;
  transition: all 150ms ease-in-out;
}

 .units {
    position: relative;
    top:-240px;
    right: -70px;

 }



.temp {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h3 .types {
    display: block;
    position: relative;
    top: -40px;
    text-align: right;
    color: rgb(27, 26, 26);
    list-style: none;
    font-size: 16px;
}

span {
    color: rgb(40, 38, 38);
}



 .units .active {
    color: rgb(42, 40, 40);
    cursor: default;
    text-decoration: none;
}

.units .active:hover {
    
    text-decoration: none;
    
}
footer{
    text-align: center;
    font-size: 14px;
    padding: 8px;
    
}

a {
    text-decoration: none;
    color: rgb(41, 39, 39);
}

a:hover {
 color: rgb(68, 68, 186);
}

.weather-forecast{
    position: relative;
    right: -25px;
    left: -10px;
    text-align: center;
}







